<div id="nav">
  <p>Driver:</p>
  <select name="dayList" onchange="load(value)">
    <option value="">Select driver</option>
    <option value="tom">Tom</option>
    <option value="lindsay">Lindsay</option>
    <option value="drexel">Drexel</option>
  </select>
  <img id="left" src="../../assets/images/left.png" width="100" height="50" onclick="subtract()">
  <p>Week <span id="wkNum"><%- weekNumber %></span></p>
  <img id="right" src="../../assets/images/right.png" width="100" height="50" onclick="add()">

    <form action="/" id="days">
    <input type="submit" value="Download Schedule">
    </form>

    <select name="dayList" form="days">
      <option value="">Select schedule</option>
      <option value="2">2 days</option>
      <option value="4">4 days</option>
      <option value="7">7 days</option>
      <option value="14">14 days</option>
      <option value="28">28 days</option>
    </select>
  

</div>