<!DOCTYPE html>
<html>
  <head>
    <title>Driver Scheduller</title>
  </head>
  <body>

    <h3>Show a file-select field which allows multiple files:</h3>
    <form action="/" method="POST" enctype="multipart/form-data">
      <label for="myfile">Select files:</label>
      <input type="file" id="myfile" name="myfile" multiple><br><br>
      <input type="submit" value="Submit">
    </form>
    
  </body>
</html>