<!DOCTYPE html>
<html>
  <head>
    <title>Driver Scheduller</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <% for (let i = 0; i < testRows.data.length; i++) { %>
      <h2><%= testRows.data[i].name %></h2>
      <h2><%= testRows.data[i].age %></h2>
      <h2><%= testRows.data[i].city %></h2>
    <% } %>
  </body>
</html>