<!DOCTYPE html>
<html>
  <head>
    <title>Link to CSV</title>
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="link">
      <p class="report">Download the Driver Report here:</p>
      <a class="report" href="<%= csvFileName %>" download><%= fileName %></a>
      <a class="btn btn-primary report" href="/" role="button">Home!</a>
    </div>
  </body>
</html>