<!DOCTYPE html>
<html>
  <head>
    <title>Driver Scheduller</title>
    <link rel="stylesheet" src="/assets/css/styles.css" type="text/css" />
  </head>
  <body>
    
    <div id="nav"></div>
    <div class="week">
      <% for (let j = 0; j < week.length; j++) { %>
        <div>
          <p><%= week[j] %></p>
        </div> 
      <% } %>
    </div>

      <% for (let i = 0; i < csvData.length; i++) { %>
        <h2><%= csvData[i].name %></h2>
        <h2><%= csvData[i].age %></h2>
        <h2><%= csvData[i].city %></h2>
      <% } %> 



  </body>
</html>