#nav {
  height:100px;
  width: 800px;
  background-color: pink;
}

.week {
  display: flex;
  flex-wrap: nowrap;
  height: 100px;
  width: 800px;
}

.week div {
  height: 50px;
  width: 50px;
  margin: 0px 2px 0px 2px;
  border: 5px solid black;
}

p {
  color: yellow;
}